[Unit]
Description=Simple Trader Gunicorn Service
After=network.target

[Service]
Restart=always
RestartSec=2s

Environment="CONFPATH=/etc/simpletrader/conf.json"
User=simpletrader
Group=simpletrader
WorkingDirectory=/home/simpletrader/simpletrader
ExecStart=/home/simpletrader/.local/bin/gunicorn --bind 0.0.0.0:9001 simpletrader.wsgi

[Install]
WantedBy=multi-user.target

