[Unit]
Description=Simple Trader Celery Beat Service
After=network.target

[Service]
Type=simple
User=simpletrader
Group=simpletrader
EnvironmentFile=/etc/simpletrader/celery.env
WorkingDirectory=/home/simpletrader/simpletrader
ExecStart=/bin/sh -c '${CELERY_BIN} -A simpletrader beat  \
  --pidfile=${CELERYBEAT_PID_FILE} \
  --logfile=${CELERYBEAT_LOG_FILE} \
  --loglevel=${CELERYD_LOG_LEVEL} \
  --scheduler=${CELERYBEAT_SCHEDULER}'
Restart=always

[Install]
WantedBy=multi-user.target
